
.header {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.nav {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    background-color: green;
}


.search {
    float: right;
    margin-right: 20px;
    
}

h4 {
    float: left;
    margin-left: 20px;
}

.media {
    height: 1000px;
    width: 360px;
    margin-left: 500px;
   
}
.container_b {
    height: 50%;
    background-color: lightblue;
    border: 1px solid black;
    margin-bottom: 10px;
}

.container_n {
    height: 50%;
    background-color: red;
    border: 1px solid black;
}

h2 {
    text-align: center;
}

img {
    width : 275px;
    margin-left: 50px;
}

iframe {
    margin-left: 100px;
    margin-top: 40px;
    
}

.information {
    float: right;
    height: 1000px;
    width: 360px;
    margin-right: 500px;
    position: relative;bottom: 1000px;
    
}

.container_bt {
    height: 50%;
    background-color: lightblue;
    border: 1px solid black;
   margin-bottom: 10px;
    
 
}

.container_nao {
     height: 50%;
    background-color: pink;
    border: 1px solid black;
}

.genre {
    margin-top: 150px;
}