body {
    background: url("https://static.pexels.com/photos/370799/pexels-photo-370799.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.header {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    
}

h1 {
    text-align: center;
    
}

.nav {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    background-color: #adf4d1;
    border: 1px solid black
}


.search {
    float: right;
    margin-right: 20px;
    
}

a {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.media {
    height: 1000px;
    width: 360px;
    margin-left: 550px;
    
   
}
.container_b {
    height: 50%;
    background-color: lightblue;
    border: 1px solid black;
    margin-bottom: 10px;
}

.container_n {
    height: 50%;
    background-color: lightblue;
    border: 1px solid black;
}

h2 {
    text-align: center;
}

img {
    width : 275px;
    margin-left: 50px;
}

iframe {
    margin-left: 100px;
    margin-top: 40px;
    
}

.information {
    float: right;
    height: 1000px;
    width: 360px;
    margin-right: 550px;
    position: relative;bottom: 1000px;
    
}

.container_bt {
    height: 50%;
    background-color: lightblue;
    border: 1px solid black;
   margin-bottom: 10px;
    
 
}

.container_nao {
    height: 50%;
    background-color: lightblue;
    border: 1px solid black;
}

.genre1 {
    margin-top: 85px;
    margin-left: 20px;
}

.genre2 {
    margin-top: 185px;
    margin-left: 20px;
}

.fa {
    margin-top: 22px;
    margin-left: 10px;
    font-size: 50px;
    width: 20px;
    height: 17px;
    text-align: center;
    text-decoration: none;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);

    color: white;
}

.page {
    padding: none;
    width: 70px;
    text-align: center;
    position: relative;
    left: 1300px;
    margin-top: 100px;
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.info {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

.text {
    margin-top: 0;
}


.home {
    width: 1500px;
    height: 100px;
    float: left;
}

.about {
    width: 1900px;
    float: left;
}
h3 {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 1.75;
}

.similar {
    height: 20px;
    margin-bottom: 0px;
    margin-top: 30px;
    margin-left: 20px;
}

.page {
    margin-top: 30px;
}